<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="       
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd       
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd       
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd       
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd       
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.5.xsd"
	default-autowire="byName">

	<bean id="cachedCityUtil" class="com.holley.wxemcp.ent.common.util.CachedCityUtil" init-method="init" />
	<bean id="cachedBusinessTypefUtil" class="com.holley.wxemcp.ent.common.util.CachedBusinessTypeUtil" init-method="init" />
	<bean id="treeCommService" class="com.holley.wxemcp.ent.serviceimpl.common.TreeCommServiceImpl"/>
	<bean id="wxEmcpEntLocalUtil" class="com.holley.wxemcp.ent.common.util.WxEmcpEntLocalUtil" init-method="init"/>
	<bean id="baseService" class="com.holley.wxemcp.ent.serviceimpl.common.BaseServiceImpl"/>
</beans>