<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holley.wxemcp.ent.dao.sys.SysUnregisterAccountMapper" >
  <resultMap id="BaseResultMap" type="com.holley.wxemcp.ent.model.sys.SysUnregisterAccount" >
    <id column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="SMALLINT" />
    <result column="codeCount" property="codecount" jdbcType="INTEGER" />
    <result column="loginCount" property="logincount" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    phone, origin, codeCount, loginCount, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_unregister_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_unregister_account
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_unregister_account
    where phone = #{phone,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccountExample" >
    delete from sys_unregister_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccount" >
    insert into sys_unregister_account (phone, origin, codeCount, 
      loginCount, updateTime)
    values (#{phone,jdbcType=VARCHAR}, #{origin,jdbcType=SMALLINT}, #{codecount,jdbcType=INTEGER}, 
      #{logincount,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccount" >
    insert into sys_unregister_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        phone,
      </if>
      <if test="origin != null" >
        origin,
      </if>
      <if test="codecount != null" >
        codeCount,
      </if>
      <if test="logincount != null" >
        loginCount,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="origin != null" >
        #{origin,jdbcType=SMALLINT},
      </if>
      <if test="codecount != null" >
        #{codecount,jdbcType=INTEGER},
      </if>
      <if test="logincount != null" >
        #{logincount,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccountExample" resultType="java.lang.Integer" >
    select count(*) from sys_unregister_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_unregister_account
    <set >
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.origin != null" >
        origin = #{record.origin,jdbcType=SMALLINT},
      </if>
      <if test="record.codecount != null" >
        codeCount = #{record.codecount,jdbcType=INTEGER},
      </if>
      <if test="record.logincount != null" >
        loginCount = #{record.logincount,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_unregister_account
    set phone = #{record.phone,jdbcType=VARCHAR},
      origin = #{record.origin,jdbcType=SMALLINT},
      codeCount = #{record.codecount,jdbcType=INTEGER},
      loginCount = #{record.logincount,jdbcType=INTEGER},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccount" >
    update sys_unregister_account
    <set >
      <if test="origin != null" >
        origin = #{origin,jdbcType=SMALLINT},
      </if>
      <if test="codecount != null" >
        codeCount = #{codecount,jdbcType=INTEGER},
      </if>
      <if test="logincount != null" >
        loginCount = #{logincount,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.holley.wxemcp.ent.model.sys.SysUnregisterAccount" >
    update sys_unregister_account
    set origin = #{origin,jdbcType=SMALLINT},
      codeCount = #{codecount,jdbcType=INTEGER},
      loginCount = #{logincount,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
</mapper>